.account {
  margin-right: 50px;
  cursor: pointer;
  font-family: "HelveticaBold";
  position: relative;

  .open-account__button {
    background: transparent;
    border: none;
    color: #ffeba9;
    font-size: 20px;
    font-family: "HelveticaBold";
    outline: none;
    cursor: pointer;
  }
}
.profile-snippet {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 252px;
  height: 254px;
  left: -67px;
  top: 10px;
  bottom: -122px;
  transition: 10s ease-in-out;

  background-color: #fff9e4;
  z-index: 10;
  border-radius: 5%;
  color: #613c3d;

  .singIn {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    .signIn-button {
      margin-top: 15px;
      width: 140px;
      height: 40px;
      border: none;
      background-color: #613c3d;
      color: #fff9e4;
      border-radius: 5px;
      font-family: "HelveticaBold";
      cursor: pointer;
    }
  }

  .personal-interaction {
    margin-top: 20px;
    margin-left: 20px;

    .login-cart {
      .separate-border {
        width: 200px;
        border: 1px solid #a3a3a3;
        margin: 8px 0;
        border-radius: 25%;
      }

      .cart {
        .cart-text {
          display: block;
        }
      }
    }

    .login-pop-list {
      span {
        font-family: "HelveticaBold";
        font-size: 20px;
      }
    }
  }
}

.login-menu {
  width: 480px;
  height: 400px;
}

.close__button {
  color: #800020;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "HelveticaMedium";
  font-size: 30px;
  cursor: pointer;
}
