.header-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: #ffeba9;
  background-color: #4169e1;
  font-size: 20px;
  font-family: "HelveticaBold";
  padding-top: 20px;
  position: relative;

  i {
    margin: 5px;
  }

  .logo {
    font-family: "HelveticaConBlack";
    font-size: 50px;
    color: #aaf0d1;
  }

  .catalogue {
    display: flex;
    justify-content: flex-end;

    font-family: "HelveticaBold";

    button {
      border: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-self: center;
      font-size: 20px;
      height: 30px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 40px;
      margin-right: -70px;
      margin-left: -30px;
      background: #4169e1;
      color: #ffeba9;
      transition: 0.2s ease;
      font-family: "HelveticaBold";
    }
  }

  .search {
    margin-left: -20px;
  }
  .account-section {
    margin-right: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .cart {
    font-size: 30px;
    cursor: pointer;
  }

  .catalogue-container {
    position: absolute;
    top: 90px;
    width: 100%;
    // left: 5%;
    z-index: 1;
  }
}
