.header-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #ffeba9;
  background-color: #4169e1;
  font-size: 20px;
  font-family: "HelveticaBold";

  i {
    margin: 5px;
  }

  .logo {
    margin-left: 50px;
    font-family: "HelveticaConBlack";
    font-size: 50px;
    color: #aaf0d1;
  }

  .catalogue {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    font-family: "HelveticaBold";

    button {
      border: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-self: center;
      font-size: 20px;
      height: 30px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 40px;
      margin-right: 70px;
      background: #4169e1;
      color: #ffeba9;
      transition: 0.2s ease;
      font-family: "HelveticaBold";
    }
  }
  .account-section {
    margin-right: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
