<header>
  <div class="header-top">
    <span class="location"><i class="fas fa-map-marker-alt"></i>Minsk</span>
    <div class="contacts-container">
      <a href="tel:+6666666">+66666666</a>
      <span class="more">more...</span>
      <div class="business-time">
        <span>Customer Service</span>
        <span class="operate-hours">12-20</span>
      </div>
    </div>
  </div>
  <div class="header-center"></div>
  <div class="header-bottom"></div>
</header>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
