.item-page-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  .items-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid gray;
      max-width: 210px;
      max-height: 500px;
      text-align: center;
      margin: 0 10px;

      img {
        margin-top: 20px;
        width: 150px;
        height: 150px;
        background-color: rgb(160, 150, 150);
        justify-self: center;
      }

      .item-title {
        color: #4169e1;
        font-size: 16px;
        cursor: pointer;
      }

      .item-price {
        font-size: 20px;
      }

      .item-btns {
        display: flex;

        .addToCart {
          margin-top: 15px;
          width: 140px;
          height: 40px;
          border: none;
          font-size: 20px;
          background-color: #4169e0;
          color: #fff;
          border-radius: 5px;
          font-family: "HelveticaBold";
          cursor: pointer;
        }
        .fav {
          font-size: 25px;
          line-height: 70px;
          margin-left: 10px;
          color: #4169e0;
          cursor: pointer;
        }
      }
    }
  }
}
