<div class="item-page-container">
  <div class="sort">
    <span>sort:</span>
    <span class="sorting" (click)="sortPrice()">price</span>
    <span class="sorting" (click)="sortRate()">rating</span>
  </div>
  <div class="items-card-container">
    <div
      class="item"
      *ngFor="
        let item of items | sort: sortValue | slice: startPage:paginationLimit
      "
    >
      <div
        class="item-img"
        [ngStyle]="{ 'background-image': 'url(' + item.imageUrls[0] + ')' }"
      ></div>
      <div
        class="item-title"
        [routerLink]="[item.id]"
        routerLinkActive="active"
      >
        {{ item.name }}
      </div>
      <div class="item-price">
        {{ item.price }}<span class="price-uni">&#x20BD;</span>
      </div>
      <div class="item-rating">rating {{ item.rating }}</div>
      <div class="item-btns">
        <button class="addToCart">
          add <i class="fas fa-shopping-cart"></i>
        </button>
        <div class="fav">
          <i class="far fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="show-more">
    <button (click)="showMoreItems()">Show More</button>
  </div>
</div>
