<footer>
  <div class="footer-top">
    <a href="tel:111111">+375-44-1230987</a>
    <a href="tel:222222">+375-44-9250487</a>
    <a href="tel:222222">+375-44-9250497</a>
    <a href="https://chats.viber.com/21vek.by"
      ><i class="fab fa-viber"><span class="messengers"> Viber</span> </i></a
    >
    <a href=""
      ><i class="fab fa-telegram-plane"
        ><span class="messengers"> Telegram</span></i
      ></a
    >
    <a href=""
      ><i class="far fa-envelope"><span class="messengers"> Mail Us</span> </i>
    </a>
  </div>
  <div class="footer-bottom">
    <a href="https://www.instagram.com/nikitarrrr/">
      <span><i class="fab fa-instagram"></i> </span
    ></a>
    <a href="https://www.vk.com">
      <span><i class="fab fa-vk"></i></span
    ></a>
    <a href="https://www.facebook.com">
      <span><i class="fab fa-facebook-square"></i></span
    ></a>
    <a href="https://www.youtube.com">
      <span><i class="fab fa-youtube"></i></span
    ></a>
  </div>
</footer>
