@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";
.swiper {
  width: 100%;
  max-height: 50%;
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.swiper {
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: contain;
  background-position: center;
}

.mySwiper2 {
  height: 30%;
  width: 500px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rating {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: #4169e0;
  border: 4px solid rgb(29, 29, 13);
}
.title {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -2px;
    font-family: "HelveticaBold";
  }
}
.item-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px 100px 0;
  min-height: 500px;
}

.s {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.k {
  display: flex;
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  margin-left: 120px;

  .price {
    font-size: 40px;
    font-family: "HelveticaMedium";
    span {
      color: #e43a36;
      font-family: "HelveticaBold";
    }
    .price-uni {
      font-size: 35px;
      color: #918b8b;
      margin-left: 4px;
    }
  }

  .item-btns {
    display: flex;
    margin-top: 30px;

    .addToCart {
      margin-top: 15px;
      width: 140px;
      height: 40px;
      border: none;
      font-size: 20px;
      background-color: #4169e0;
      color: #fff;
      border-radius: 5px;
      font-family: "HelveticaBold";
      cursor: pointer;
    }

    .removeToCart {
      margin-top: 15px;
      width: 140px;
      height: 40px;
      border: none;
      font-size: 20px;
      background-color: #e7e8ec;
      color: #4169e0;
      border-radius: 5px;
      font-family: "HelveticaBold";
      cursor: pointer;
    }
    .fav,
    .fav-added {
      font-size: 35px;
      line-height: 67px;
      margin-left: 10px;
      color: #4169e0;
      cursor: pointer;
      margin: 0 0 0 30px;
    }
  }
}
.item-description {
  margin-top: -150px;
  margin-bottom: 150px;
  p {
    text-transform: capitalize;
    font-size: 30px;
    line-height: 29px;
    font-family: "Helvetica";
  }
}
