<div class="item-container" *ngIf="item">
  <div class="k">
    <div class="s">
      <swiper
        style="
          --swiper-navigation-color: #918b8b;
          --swiper-pagination-color: #fff;
        "
        [loop]="true"
        [spaceBetween]="10"
        [navigation]="true"
        [thumbs]="{ swiper: thumbsSwiper }"
        class="mySwiper2"
      >
        <ng-template swiperSlide class="swiper-slide" *ngFor="let pic of img"
          ><img src="{{ pic }}"
        /></ng-template>
      </swiper>
      <swiper
        (swiper)="thumbsSwiper = $event"
        [loop]="true"
        [spaceBetween]="10"
        [slidesPerView]="img.length"
        [freeMode]="true"
        [watchSlidesProgress]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide class="swiper-slide" *ngFor="let pic of img"
          ><img src="{{ pic }}"
        /></ng-template>
      </swiper>
    </div>
    <div class="item">
      <div class="rating" appRating></div>
      <div class="title">
        <h1>{{ item.name }}</h1>
      </div>
      <div class="price">
        <span> Price: </span>{{ item.price
        }}<span class="price-uni">&#x20BD;</span>
      </div>
      <div class="item-btns">
        <button
          *ngIf="item"
          class="addToCart"
          appCart
          [item]="item.id"
          (click)="addTocart(item.id)"
        >
          add <i class="fas fa-shopping-cart"></i>
        </button>
        <div class="fav">
          <i class="far fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="item-description">
    <p>{{ item.description }}</p>
  </div>
</div>
