<div class="favorite-container">
  <div class="favorite-item" *ngFor="let item of items">
    <div class="img-container">
      <div
        [routerLink]="['', item.category, item.subCategory, item.id]"
        class="favorite-img"
        [ngStyle]="{ 'background-image': 'url(' + item.imageUrls[0] + ')' }"
      ></div>
    </div>
    <div class="func-container">
      <div
        class="favorite-title"
        [routerLink]="['', item.category, item.subCategory, item.id]"
      >
        {{ item.name }}
      </div>
      <div class="favorite-rating">
        <ng-rating-bar
          [(value)]="item.rating"
          [ratingCount]="5"
          [disabled]="true"
        ></ng-rating-bar>
      </div>
      <div class="favorite-price">{{ item.price }} BYN</div>
      <div class="item-btns">
        <button
          appCart
          [item]="item.id"
          class="addToCart"
          (click)="addTocart(item.id)"
        >
          add <i class="fas fa-shopping-cart"></i>
        </button>
        <button
          appRemoveCart
          [item]="item.id"
          class="removeToCart"
          (click)="removeFromCart(item.id)"
        >
          remove <i class="fas fa-shopping-cart"></i>
        </button>
        <div
          class="fav-added"
          appFavpage
          [item]="item.id"
          (click)="removeFromFav(item.id)"
        >
          <i class="fas fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>
