.features {
  margin: 0 100px 0;
  h3 {
    font-size: 30px;
    padding-top: 30px;
  }
  p {
    font-size: 20px;
    color: gray;
    text-transform: capitalize;
  }

  .undone {
    color: #f47174;
  }
}
