<div class="features">
  <section></section>
  <section></section>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Верстка ">
      <h3>Верстка +50</h3>
      <p>вёрстка и дизайн всего приложения выполнены в едином стиле +20</p>
      <p>
        собственный оригинальный интересный качественный дизайн приложения +30
      </p></mat-tab
    >
    <mat-tab label="Хедер">
      <h3>Хедер +100</h3>
      <p>информационный блок +15</p>
      <p>автоматическое определение и выбор локации +5</p>
      <p>контактные данные +5</p>
      <p>информация о времени работы +5</p>
      <p>навигационный блок + 35</p>
      <p>логотип +5</p>
      <p>панель с иерархией категории товаров +20</p>
      <p>
        поиск по категориям и товарам. Реализован debounce и фильтрация по
        количеству символов в строке поиска +10
      </p>
      <p>
        блок работы с профилем. Данные о текущем пользователе сохраняются в
        localstorage +10
      </p>
      <p>блок с навигацией по основным категориям товаров +40</p></mat-tab
    >
    <mat-tab label=" Футер">
      <h3>Футер +20</h3>
      <p>
        блок контактов (аналогичных указанных в хедере, но без дропдауна) +10
      </p>
      <p>блок ссылок на социальные сети магазина +10</p></mat-tab
    >
    <mat-tab label="Главная страница">
      <h3>Главная страница магазина +70</h3>
      <p>
        слайдер с акционными товарами. При клике происходит навигация на
        страницу с товаром +30
      </p>
      <p>описание возможностей и преимуществ приложения +20</p>
      <p>видео с демонстрацией работы приложения -20</p>
    </mat-tab>
    <mat-tab label="Категории товаров">
      <h3>Страница категории товаров +110</h3>
      <p class="undone">содержит иерархию навигации (breadcrumbs) -10</p>
      <p>содержит необходимую информацию о выбранной категории и товарах +10</p>
      <p>
        каждая карточка с товаром или отдельный ее элемент меняет свой стиль в
        зависимости от наличия товара на складе +20
      </p>
      <p>реализовано добавление в избранное +15</p>
      <p>реализовано добавление в корзину +15</p>
      <p>кнопки добавления в списки меняются в зависимости от состояния +10</p>
      <p>реализована сортировка по критериям +20</p>
      <p>реализована частичная загрузка результатов (пагинация) +20</p>
    </mat-tab>
    <mat-tab label="Детали товара">
      <h3>Страница деталей товара +90</h3>
      <p class="undone">содержит иерархию навигации (breadcrumbs) -10</p>
      <p>содержит необходимую информацию о товаре +10</p>
      <p>содержит слайдер с изображениями товара +20</p>
      <p>реализовано добавление в избранное +10</p>
      <p>реализовано добавление в корзину +10</p>
      <p>кнопки добавления в списки меняются в зависимости от состояния +20</p>
      <p>содержит описание и характеристики товара +10</p>
      <p>обавлена иконка в зависимости от акции и популярности товара +10</p>
    </mat-tab>
    <mat-tab label="Корзина">
      <h3>Корзина +20</h3>
      <p class="undone">
        реализована форма заказа со всеми необходимыми полями, включая валидацию
        -30
      </p>
      <p class="undone">заказ успешно оформляется при подтверждении -10</p>
      <p>содержит список товаров, добавленных в корзину +10</p>
      <p>реализована возможность изменять количество товаров для заказа +5</p>
      <p>
        содержит информацию об общей стоимости заказа в зависимости от
        количества +5
      </p>
    </mat-tab>

    <mat-tab label="Избранное">
      <h3>Избранные товары +20</h3>

      <p>
        содержит список добавленных товаров со всеми необходимыми данными +20
      </p>
    </mat-tab>
    <mat-tab label="Лист ожидания">
      <h3 class="undone">Лист ожидания -50</h3>
    </mat-tab>
  </mat-tab-group>
</div>
