<div class="header-search">
  <div class="search-container">
    <form>
      <input
        type="text"
        placeholder="Search.."
        name="search"
        autocomplete="off"
        [(ngModel)]="searchStr"
        (ngModelChange)="this.searchValueUpdate.next($event)"
      />
    </form>
  </div>
  <div class="search-reslut" *ngIf="isShown">
    <div class="search-item" *ngFor="let card of searchCard">
      <div
        class="search-img"
        [ngStyle]="{ 'background-image': 'url(' + card.imageUrls[0] + ')' }"
      ></div>
      <div class="search-info">
        <div class="name" (click)="navToItem(card.id)">{{ card.name }}</div>
        <div class="price">{{ card.price }} BYN</div>
      </div>
    </div>
  </div>
</div>
