<div class="header-top">
  <span class="location"><i class="fas fa-map-marker-alt"></i>{{ city }}</span>
  <div class="header-info">
    <div class="contacts-container">
      <div class="preshown-caontacts">
        <a href="https://chats.viber.com/21vek.by"
          ><i class="fab fa-viber">Viber</i></a
        >
        <a href="tel:+6666666">+375-29-6666666</a>
      </div>

      <div class="contacts-dropdown">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> more </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="life-contact dropdown-contact">
            <a href="tel:222222">+375-44-9250487</a>
          </div>
          <div class="city-contact dropdown-contact">
            <a href="tel:222222">+375-44-9250497</a>
          </div>
          <div>
            <a href=""
              ><i class="fab fa-telegram-plane"
                ><span class="messengers"> Telegram</span></i
              ></a
            >
          </div>
          <div>
            <a href=""
              ><i class="far fa-envelope"
                ><span class="messengers"> Mail Us</span>
              </i>
            </a>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

    <div class="business-time">
      <span>Customer Service</span>
      <span class="operate-hours"><i class="far fa-clock"></i> 12-20</span>
    </div>
  </div>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</div>
